<p id="notice"><%= notice %></p>

<p>
  <strong>Bride name:</strong>
  <%# debugger %>
  <%= @nikah_certificate.bride_name %>
</p>

<p>
  <strong>Groom name:</strong>
  <%= @nikah_certificate.groom_name %>
</p>
