   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
    <div class="container">
        <div class="row">
        	<div class="col d-flex justify-content-center">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on 
                            the card title and make up the bulk 
                            of the card's content.
                        </p>
                        <%= link_to 'Brides', brides_path, class: "btn btn-primary" %>
 					</div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the 
                            card title and make up the bulk of the 
                            card's content.
                        </p>
                        <%= link_to 'Grooms', grooms_path, class: "btn btn-primary" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
   
                        <%= link_to 'Grooms', grooms_path, class: "btn btn-primary" %>

<body>
   <script>
    document.body.addEventListener("click", function (evt) {
        gfg_Run()
    });  
    function changeColor(color) {
        document.body.style.background = color;
        

    }

    function gfg_Run() {
        changeColor('#000080');
    }        
</script>
</body>